<div class="jumbotron text-center">
  <h1>Welcome</h1>
  <% if user_signed_in? %>
  <!-- show logout link in navbar - see _header partial -->
    <p>cool cool cool</p>
  <% else %>
  <!-- show sign in buttons -->
    <p>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    </p>
  <% end %>
</div>